
<router-outlet></router-outlet>
<header id="header" class="fixed-top " style="background-color: #090505b6;">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="gp-index.html"><span>Gopal PG</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="gp-index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="">About</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </ul>
      </nav><!-- .navbar --> 
      <a href="" class="get-started-btn scrollto" data-bs-toggle="modal" data-bs-target="#staticBackdrop" [routerLink]="'signup'">Create Profile</a>
    <a href="" class="get-started-btn scrollto" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" [routerLink]="'login'">Log in</a>
   

    </div>
  </header>