<app-after-login></app-after-login>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Room Details</h2>

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Room Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->   <section class="inner-page">
      <div class="container">
        <p>
          <i class="bi bi-stars"></i>Rooms Are Cleaned daily <br>
              <i class="bi bi-door-open"></i> Do have Attached Bathroom So its also clean<br>
               <i class="bi bi-moisture"></i>Geaser<br>
               <i class="bi bi-wind"></i>AC<br>
                 <i class="bi bi-hand-thumbs-up"></i>Near Keytchain <br>
                    <i class="bi bi-wifi"></i>Wifi
        </p>
      </div>
    </section>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>1st Bed</h3>
               <div class="col-lg-8 col-md-8 d-flex align-items-stretch mt-8" data-aos="zoom-out" data-aos-delay="100">

              <p>
                <label id="checkAb"> Available :</label>  No<br>
                Occupied By  :<label>Sanjay Nanjar</label><br>
                Occupation  : <label>Student</label><br>
              </p>
            </div>
            <div class="portfolio-description">
               <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Select This Room</button>
            </div>
          </div>

        </div>

      </div></div>
    </section>
 <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Bed Details</h3>
               <div class="col-lg-8 col-md-8 d-flex align-items-stretch mt-8" data-aos="zoom-out" data-aos-delay="100">
              <p>
                <label id="checkAb">Available <i class="ri-check-double-line"></i><br>
                Price : <label>6500 /-</label> <i class="ri-check-double-line"></i><br>
                AC <i class="ri-check-double-line"></i><br>
             
                Available Book Now <i class="ri-check-double-line"></i>
                </label>
              </p>
            </div>
            <div class="portfolio-description">
               <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Select This Room</a>
            </div>
          </div>

        </div>
</div>
      </div>
    </section>




     <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
                <h3>Bed Details</h3>
               <div class="col-lg-8 col-md-8 d-flex align-items-stretch mt-8" data-aos="zoom-out" data-aos-delay="100">

              <p>
                <label id="checkAb">Available <i class="ri-check-double-line"></i><br>
                Price : <label>6500 /-</label> <i class="ri-check-double-line"></i><br>
                AC <i class="ri-check-double-line"></i><br>
                Available Book Now <i class="ri-check-double-line"></i>
                </label>
              </p>
            </div>
            <div class="portfolio-description">
               <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Select This Room</a>
            </div>
          </div>

        </div>

      </div></div>
    </section>


     <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
                <h3>Bed Details</h3>
               <div class="col-lg-8 col-md-8 d-flex align-items-stretch mt-8" data-aos="zoom-out" data-aos-delay="100">

              <p>
                <label id="checkAb">Available <i class="ri-check-double-line"></i><br>
                Price : <label>6500 /-</label> <i class="ri-check-double-line"></i><br>
                AC <i class="ri-check-double-line"></i><br>
                Available Book Now <i class="ri-check-double-line"></i></label>
              </p>
              </div>
            </div>
            <div class="portfolio-description">
               <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Select This Room</a>
            </div>
          </div>

        </div>

      </div>
    </section>
